{% extends "admin_template.html" %}

{% block body %}


  <!--main content start-->

      <!-- page start-->


      <div class="row">
        <div class="col-lg-12">
          <section class="panel" style = "padding-top:1%; padding-bottom:0%;padding-left:1%;">
                <form class="" action="{{ url_for('admin_allsales_List') }}" method="post">
                  <table class="table" >
                    <tr>
                      <td>Sales Date:</td>
                      <td><input type="date" name="this_day" value="{{date}}"></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td><button type="submit" name="" style = "margin-top:0%;">View Date</button></td>
                    </tr>
                    <tr>
                      <td>Display All:</td>
                      <td>
                        <button type="button" name="button">
                          <a href="{{ url_for('admin_allsales_List2') }}">View All Sales</a>
                        </button>
                      </td>
                    </tr>
                  </table>
                </form>
              </section>
            </div>
          </div>



      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              {{msg}}
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
                <tr style = "text-align:center;">
                  <th><i class=""></i>Items</th>
                  <th><i class="icon_desktop"></i> Product</th>
                  <th><i class="icon_profile"></i> Customer</th>
                  <th><i class="icon_calendar"></i> Date</th>
                  <th><i class="icon_documents_alt"></i> Quantity</th>
                  <th><i class="icon_table"></i> Unit Price</th>
                  <th><i class="icon_genius"></i> Amount</th>
                  <th><i class="icon_profile"></i> Salesperson</th>
                  <th><i class="icon_like"></i> Remarks</th>
                  <th><i class="icon_cogs"></i> Action</th>
                </tr>
                {% for mysale in mysales %}
                  <tr style = "text-align:center;">
                    <td>{{mysale.number}}</td>
                    <td>{{mysale.product_name}}</td>
                    <td>{{mysale.Customer}}</td>
                    <td>{{mysale.sales_Date}}</td>
                    <td>{{mysale.quantity}}</td>
                    <td>{{mysale.Unit_Price}}</td>
                    <td>{{mysale.Amount}}</td>
                    <td>{{mysale.Salesperson}}</td>
                    <td>{{mysale.remark}}</td>

                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                        <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                {% for cal in mysum %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td colspan="2">Total = {{cal.total}}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </section>
        </div>
      </div>
      <!-- page end-->



{% endblock %}
