<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Welcome</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

     <link rel="stylesheet" href="{{url_for('static',filename='css/main_login.css')}}"type="text/css" media="all"/><!-- Style-CSS -->
</head>
<body>
   <!-- /form-26-section -->
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div style = "margin-top:-30px;"class="forms-26-info">
						 <h2>Welcome</h2>
          </div>

					<div class="form-right-inf">
							<form action="" method="post" class="signin-form">
							 <div class="forms-gds">


							</div>
						</form>

            <form action="" method="post" class="signin-form">
             <div class="forms-gds">



            </div>
          </form>


        </div>

        <div style = "margin-top:30px;">
          <form class="" action="{{url_for('sales_SignIn')}}" method="post">
            <div  class="form-input"><button class="btn">Sales Login</button></div>
          </form>

          <form class="" action="{{url_for('admin_SignIn')}}" method="post">
            <div style = "margin-top:10px;" class="form-input"><button class="btn" href = "">Admin Login</button></div>
          </form>
        </div>





				<div class="copyright text-center">
                    <p>© 2019 Merged Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                            target="_blank">W3Layouts</a></p>
                </div>
                </div>

			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->
</body>
</html>
